canvas{
    width: 400px;
    height: 400px;
    top: 50px;
    left: 50px;
    background-color: white;
    position: relative;
}

.button1 {
    align-items:flex-start;
    width: 100px;
    height: 40px;
    border:2px solid black;
    cursor: pointer;
    color: purple;
    font-weight: bold;
    position: relative;
    top: 20px;
    left: 50px;
}

.button2 {
    align-items:flex-start;
    width: 100px;
    height: 40px;
    border:2px solid black;
    cursor: pointer;
    color: purple;
    font-weight: bold;
    position: relative;
    top: 30px;
    left: 50px;
}


#thickness {
    height: 20px;
    width: 40px;
    cursor: pointer;
    position: relative;
    top: 0px;
    left: 0px;
}
#color {
    height: 20px;
    width: 40px;
    cursor: pointer;
    position: relative;
    top: 0px;
    left: 0px;
}

#form1 {
    top: 5px;
    left: 50px;
    position: relative;
}

#font_selector {
    height: 20px;
    width: 150px;
    cursor: pointer;
    position: relative;
    top: 0px;
    left: 0px;
}

#Text_Font {
    top: 10px;
    left: 50px;
    position: relative;
}